/*
h1 {
    color: red;
    background-color: yellow;

    text-align: center;
border: 10px black solid;

margin-bottom: 100px;

padding-top: 20px;
padding-bottom: 20px;

}
*/
h1 {
    color: rgb(221, 78, 38);
}
.title {
    background-color: rgb(223, 187, 133);
}
#important {
    color: rgb(52, 9, 222);
}
